#myCarousel {
    margin-top:20px;
}

#myCarousel h2 {
    margin-left:10px;
}

#myCarousel img {
    width: 300px;
    height: 300px;
}

#shop-by-category img {
    width:150px;
    height:150px;
}

.p-2 {
    margin-left:20px;
    margin-right:20px;
}
/* Your existing CSS styles... */

/* Add these styles for account links */

/* .to-the-left {
    margin-left:20px;
} */

.navbar-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar-nav li {
    margin-left: 20px;
}

.account-links {
    margin-right: 30px;
}

.account-links a {
    text-decoration: none;
    color: #333;
}
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
footer {
    background-color: #e97a61;
    padding: 1em;
    text-align: center;
    position: relative;
  }
  
  .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
  }
  
  


